<form
  action="/records/{{record._id}}?_method=PUT"
  method="POST"
  style="display: inline; width: 50vw"
>
  <div class="row m-5">
    <div class="col-3 align-items-center">
      <p class="required-column mb-5"><span
          class="text-danger"
        >*</span>必填欄位</p>

      <div class="mb-5">
        <label for="name" class="col-form-label">名稱:<span
            class="text-danger"
          >*</span></label>
      </div>

      <div class="mb-5">
        <label for="date" class="col-form-label">日期:<span
            class="text-danger"
          >*</span></label>
      </div>

      <div class="mb-5">
        <label for="category" class="col-form-label">類別:<span
            class="text-danger"
          >*</span></label>
      </div>

      <div class="mb-5">
        <label for="amount" class="col-form-label">金額:<span
            class="text-danger"
          >*</span></label>
      </div>
    </div>

    <div class="col-9 text-center">
      <h4 class="mb-5">修改你的支出</h4>

      <input
        type="text"
        class="form-control mb-5"
        id="name"
        placeholder="輸入名稱"
        name="name"
        value="{{record.name}}"
        required
      />

      <input
        type="date"
        class="form-control mb-5"
        id="date"
        name="date"
        value="{{record.date}}"
        required
      />

      <select
        class="form-control mb-5"
        id="category"
        name="category"
        required>
        {{#each categories}}
        <option value="{{ this.name }}" {{#if this.selected}}selected{{/if}}>{{ this.name }}</option>
        {{/each}}
        </select>

      <input
        type="text"
        class="form-control mb-5"
        id="amount"
        placeholder="輸入金額"
        name="amount"
        value="{{record.amount}}"
        required
      />

      <button class="btn btn-success w-100" type="submit">確定修改</button>
    </div>
  </div>
</form>
